<head>
  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Libre+Barcode+39&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
</head>
<body>
<header class="header_navigation hide-on-scroll">
    <img src="/Front-End/components/Logo_Maquinco-Header.png" alt="Logo Maquinco">
  <button id="menu_btn">
    <img id="menu_icon" src="/Front-End/components/Icon_Menú.png" alt="">
  </button>
    <nav class="menu_navigation">
    <ul>
      <li><a href="/Front-End/home.html">Inicio</a></li>
      <li><a href="/Front-End/Catalog/catalog_machinery.html">Catálogo</a></li>
    </ul>
</nav>

</header>
</body>
